.logo{
  width:200px;
}
.container{
  margin: 80px;
  text-align: center;
}
.testo{
 color:#00ff00;
 font-size: 30px;
 font-weight: bold;
 text-align: center;
 margin: 13px;
}

.speciale1{
 background-color: #00ff00;
 border-style:solid;
 border-color:#00ff00;
 border-width:6px;
 border-radius: 1px;
 width: 60%;
 margin-left:250px;
 margin-bottom: -25px;
}

body{
  background-image: url(background.jpg);
  background-size:100%;
}
.oggetto1{
  color:white;
  width: 53%;
  line-height:10px;
  font-size: 15px;
}
.oggetto2{
  color: white;
  width:59%;
  line-height:10px;
  font-size: 15px;
}
.oggetto3{
  color: white;
  width: 44%;
  line-height:10px;
  font-size: 15px;
}

.speciale2{
  background-color:#FFD700;
  border-style:solid;
  border-color:#FFD700;
  border-width:6px;
  border-radius: 4px;
  height: 10px;
  width: 20%;
  margin-left: 250px;
  margin-top: -15px;
}


.oggetto4{
 margin-left: 320px;
 position: relative;
 top: -180px;
 width: 20%;
}
.Oggetto5{
  margin-left: 320px;
  position: relative;
  top: -105px;
  width: 20%;
}
.Oggetto6{
  margin-left: 320px;
  position: relative;
  top: -105px;
  width: 20%;
}
.Mike{
  font-size: 15px;
  color:white;
  margin-left: 350px;
  line-height: 10px;
  margin-top: -98px;

}
.Mike1{
  font-size: 15px;
  color:white;
  margin-left: 350px;
  line-height: 10px;
}
.Mike2{
  font-size: 15px;
  color: white;
  margin-left: 350px;
  line-height: 5%;
}
.Speciale3{
  background-color: #00FF00;
  border-style:solid;
  border-color:#00FF00;
  border-width:6px;
  border-radius: 4px;
  height: 10px;
  width: 30%;
  margin-left: 340px;
}
.Fedele{
  font-size: 15px;
  color:white;
  margin-left: 350px;
  line-height: 10px;
}
.Fedele1{
  font-size: 15px;
  color:white;
  margin-left: 350px;
  line-height: 10px;
}
.Fedele2{
  font-size: 13px;
  color:white;
  margin-left: 350px;
  line-height: 10px;
}
.Speciale4{
  background-color:#DC143C;
  border-style:solid;
  border-color:#DC143C;
  border-width:6px;
  border-radius: 4px;
  height: 8px;
  width: 10%;
  margin-left: 340px;
}
.rettangolo{
  background-color:rgb(0,30,60,0.5);
  border-color:white;
  border-radius: 8px;
  height:650px;
  width:60%;
  margin-left: 300px;
  margin-top: -650px;


}
